on post-fs
    mkdir /mnt/vendor/dsp 0770 root root
    copy /vendor/dsp/cdsp/fastrpc_shell_3 /mnt/vendor/dsp/fastrpc_shell_3
    chmod 0644 /mnt/vendor/dsp/fastrpc_shell_3
    mount none /mnt/vendor/dsp/fastrpc_shell_3 /vendor/dsp/cdsp/fastrpc_shell_3 bind

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

service vendor.goodix-events /vendor/bin/init.goodix.events.sh
    class late_start
    user root
    group root system input
    disabled
    oneshot

on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

on property:ro.boot.hwname=*
    setprop ro.boot.product.hardware.sku ${ro.boot.hwname}

on property:sys.boot_completed=1
    start vendor.goodix-events
    chmod 0666 /dev/xiaomi-touch

on property:dev.bootcomplete=1 && property:persist.sys.holi.dt2w=*
    exec /system/bin/xiaomi-touch 14 ${persist.sys.holi.dt2w}
