allow init atrace_exec:file { getattr };
allow init blkid_exec:file { getattr };
allow init debugfs_tracing_debug:dir { mounton };
allow init dnsmasq_exec:file { getattr };
allow init incident_exec:file { getattr };
allow init incident_helper_exec:file { getattr };
allow init logcat_exec:file { getattr };
allow init migrate_legacy_obb_data_exec:file { getattr };
allow init netutils_wrapper_exec:file { getattr };
allow init otapreopt_chroot_exec:file { getattr };
allow init postinstall_dexopt_exec:file { getattr };
allow init postinstall_exec:file { getattr };
allow init ppp_exec:file { getattr };
allow init rs_exec:file { getattr };
allow init runas_exec:file { getattr };
allow init sdcardd_exec:file { getattr };
allow init sgdisk_exec:file { getattr };
allow init simpleperf_app_runner_exec:file { getattr };
allow init simpleperf_exec:file { getattr };
allow init tcpdump_exec:file { getattr };
allow init viewcompiler_exec:file { getattr };
allow init vold_prepare_subdirs_exec:file { getattr };
