on init
    # DT2W
    chown system system /proc/tp_gesture
    chmod 0644 /proc/tp_gesture

on property:ro.boot.hwname=*
    setprop ro.boot.product.hardware.sku ${ro.boot.hwname}

on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

service vendor.goodix-events /vendor/bin/init.goodix.events.sh
    class late_start
    user root
    group root system input
    disabled
    oneshot

on property:sys.boot_completed=1
    start vendor.goodix-events
