on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules q6_pdr_dlkm q6_notifier_dlkm snd_event_dlkm apr_dlkm adsp_loader_dlkm q6_dlkm native_dlkm pinctrl_lpi_dlkm swr_dlkm platform_dlkm stub_dlkm wcd_core_dlkm wsa881x_analog_dlkm bolero_cdc_dlkm va_macro_dlkm rx_macro_dlkm tx_macro_dlkm bt_fm_slim wcd938x_dlkm wcd938x_slave_dlkm wcd937x_dlkm wcd937x_slave_dlkm sipa_dlkm machine_dlkm radio-i2c-rtc6226-qca cdsprm

on init
    chmod 666 /sys/module/camera/drivers/platform:CAM-FLASH-DRIVER/5c1b000.qcom,cci0:qcom,camera-flash@0/ktd2691_flash

on post-fs-data
    #zhangxiaodan To create thermal and config directories, you must first create thermal and then create config
    mkdir /data/vendor/.tp/ 0775 system system
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config

    # M17 Thermal Current Limitation in Telephone modify chenhao 20220624 begin
    mkdir /data/vendor/mac_addr 0771 system system
    chmod 0777 /vendor/bin/scancode_bin
    # M17 Thermal Current Limitation in Telephone modify chenhao 20220624 end

    #QCC mode configuration
    setprop vendor.qti.qdma.oper.mode 3

on boot
    chown system system /sys/class/drm/card0-DSI-1/doze_brightness
    chmod 0664 /sys/class/drm/card0-DSI-1/doze_brightness
    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/class/drm/card0-DSI-1/mipi_reg
    chmod 0664 /sys/class/drm/card0-DSI-1/mipi_reg
    chown system system /sys/class/drm/card0-DSI-1/panel_info
    chmod 0444 /sys/class/drm/card0-DSI-1/panel_info

    chmod 0777 /sys/bus/coresight/devices/coresight-tmc-etr/block_size
    chmod 0777 /dev/byte-cntr
    #add fot factory HBM/AOD
    chmod 0777 /sys/class/drm/card0-DSI-1/disp_param
    chmod 0777 /sys/class/drm/card0-DSI-1/mipi_reg

    #zhangxiaodan To realize the communication between framework and thermal, we need to implement sys node in kernel
    chown system system /sys/class/thermal/thermal_message/sconfig

    # M17 Thermal Current Limitation in Telephone modify chenhao
    chmod 0777 /sys/class/power_supply/bq25890_charger/constant_charge_current_max

    # add for fingerprint
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/compatible_all
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/compatible_all
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/hw_reset
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/hw_reset
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/power_ctrl
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/power_ctrl
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/screen
    chmod 0666 /sys/bus/platform/devices/soc/soc:fpc1020/screen

    # add for ignoring adsp crash
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related

    # add for touchscreen
    chown system system /sys/bus/i2c/drivers/fts_ts/2-0038/fts_edge_mode
    chmod 0666 /sys/bus/i2c/drivers/fts_ts/2-0038/fts_edge_mode
    chown system system /sys/bus/i2c/devices/2-0038/fts_charger_mode
    chmod 0666 /sys/bus/i2c/devices/2-0038/fts_charger_mode
    chown system system /sys/bus/i2c/devices/2-0038/fts_rw_reg
    chmod 0666 /sys/bus/i2c/devices/2-0038/fts_rw_reg

    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    #add perm for calib
    mkdir /mnt/vendor/persist/camera 0777 system system
    chmod 0777 /data/vendor/camera
    chmod 0666 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0666 /data/vendor/camera/com.xiaomi.dcal.wu.data

    # M17-T code for HQ-249321 by zhangzhaopei at 2022/10/21 start
    setprop vendor.camera.aux.packagelist org.codeaurora.snapcam,com.huaqin.factory,com.xiaomi.cameratest,com.mi.AutoTest

on charger
    #thermal
    start mi_thermald

# xionghaifeng 20221104 HQ-261662 & HQ-253656 add for CN SSR set on IN
on property:ro.vendor.miui.build.region=in
    setprop persist.vendor.ssr.restart_level ALL_ENABLE

on property:persist.odm.ril.oem.sno=*
    setprop ro.ril.oem.sno ${persist.odm.ril.oem.sno}

on property:persist.odm.ril.oem.psno=*
    setprop ro.ril.oem.psno ${persist.odm.ril.oem.psno}

on property:persist.odm.ril.oem.wifimac=*
    setprop ro.ril.oem.wifimac ${persist.odm.ril.oem.wifimac}

on property:persist.odm.ril.oem.btmac=*
    setprop ro.ril.oem.btmac ${persist.odm.ril.oem.btmac}

on property:persist.odm.ril.factory_id=*
    setprop ro.ril.factory_id ${persist.odm.ril.factory_id}

on property:persist.odm.ril.oem.imei1=*
    setprop ro.ril.oem.imei1 ${persist.odm.ril.oem.imei1}

on property:persist.odm.ril.oem.imei2=*
    setprop ro.ril.oem.imei2 ${persist.odm.ril.oem.imei2}

on property:sys.boot.hwc=*
    setprop ro.boot.hwc ${sys.boot.hwc}
on property:sys.boot.cpuid=*
    setprop ro.boot.cpuid ${sys.boot.cpuid}

service mi_thermald /system/vendor/bin/mi_thermald
    class main
    user root
    group system
    seclabel u:r:mi_thermald:s0
